@charset "UTF-8";

*{margin: 0; padding: 0;}
        
body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/10/CSS3_and_HTML5_logos_and_wordmarks.svg);
background-repeat: no-repeat;
background-size: cover;
text-align: center;
color: whitesmoke;
}

#cabecalho{
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(0, 0, 0, 0.596);
    height: 100vh;
}
.menu{
    list-style:none;
    /*border:1px solid #bdbdbd; */
    float:left;
    }
    button{
        border-radius: 4px;
        padding:1px 1px; 
        
    }
.menu li{
    position:relative;
    float:left;
    /*border-right:1px solid #c0c0c0;*/
    
    }
.menu li a{
    color:rgb(0, 0, 0); 
    text-decoration:none; 
    padding:5px 5px; 
    display:block;
    margin: auto 10px; 
    border-radius: 4px;
}
.menu li a:hover{
   /* background-color: #333; */
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    box-shadow:0 1px 3px 0 #ccc;
    text-shadow:0px 0px 3px #fff;

    }
.menu,
.sub-menu {
    list-style: none;
    
    border-radius: 5px;
}
.sub-menu {
    background-color:  rgb(165, 165, 165);
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:rgb(206, 204, 204); 
    display:none;
    }
.menu li:hover ul{
    display:block;
}
.menu li ul li  {
    background-color:  rgb(165, 165, 165);
    border:1px solid #c0c0c0; 
    display:block;
    width:150px;
}