@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(https://www.publicdomainpictures.net/pictures/80000/nahled/sunflowers-background-wallpaper.jpg);
    background-color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    margin-top: 50px;
}
main{
    font-size: 1.5em;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-image: url(https://cdn.pixabay.com/photo/2015/11/01/22/06/sun-flower-1017643_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(253, 253, 141, 0.856);
    border-radius: 8px;
    height: 400px;
    min-width: 320px;
    max-width: 600px;
    margin: auto;
    
}
img{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    border-radius: 15px;
}
h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(70, 70, 0);
    }
p{
    text-align: center;
    text-align: justify;
    font-weight: bold;
    }
footer{
    background-color: rgba(255, 255, 255, 0.534);
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
}

.btn-cinza{
    background-color: rgba(255, 230, 0, 0.288);

    border-radius: 12px; 
    font-weight: bold;
    border: 0;
    padding: 8px;
    width: 130px;
    height: 50px;
    display: block;
    margin: 8px ;
    position: absolute; 
    left: 19%;
    bottom: 27%;
    font-size: 12px;
}
.btn-cinza:hover{
background-color: gainsboro;
}
a{
text-decoration: none;
}
a:hover{text-decoration: underline;}
h1{text-align: center;}
footer{
text-align: center;
background-color: rgba(240, 255, 255, 0);
margin: auto;
width: 600px;
height: 120px;
padding-top: 15px;
margin-top: 3px;
}

#btn-voltar{
display: block;
margin-left: auto;
margin-right: auto;    
margin-top: 10px;
padding-bottom: 15px;

}
#rodape p{
color: black;
font-weight: bold;
text-align: center;
margin-top: 100px;

}
#rodape a{
color: rgb(28, 11, 255);
}

