@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(2, 43, 2, 0.158);
    
}
main{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 8px;
    padding: 3px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
h1{
    text-align: center;
    background-color:rgba(2, 43, 2, 0.158) ;
}
h2{
    color: rgb(245, 245, 245);
    background-color: rgba(134, 133, 133, 0.692);
}
p{
    padding: 5px;
    text-indent: 20px;
    text-align: justify;
}
#links{
    padding: 5px;
    text-indent: 20px;
    text-align: justify;
}
aside{
    display: block;
    text-align: center;
}
li{
    list-style: none;
}
a {
    text-align: center;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
footer{
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(120, 151, 163, 0.144);
}
