@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(2, 43, 2, 0.158); 
    font-family: monospace;
    margin-top: 50px;
}
main{
    font-size: 1.2em;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(45deg,rgba(0, 128, 0, 0.171),rgba(255, 255, 0, 0.164),rgba(145, 255, 0, 0.116),rgba(255, 255, 0, 0.233),rgba(0, 0, 255, 0.13));
    border-radius: 8px;
    min-width: 320px;
    max-width: 500px;
    margin: auto;
    
}
h1{text-align: center;}
footer{
text-align: center;
background-color: rgba(240, 255, 255, 0.226);
width: 400px;
margin: auto;
height: 80px;
padding-top: 15px;
margin-top: 3px;
}
#btn-voltar{
display: block;
width: 35px;
margin-left: auto;
margin-right: auto;    
padding-bottom: 15px;
margin-top: 10px;

}